html {
	height: 100% !important;
	width: 100% !important;
	margin: 0;
	position: fixed;
	font-family: helvetica;
}

#main {
	height: 100vh;
	max-height: 100%;
	width: 100vw;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
}

/* hide vr button */
a-scene > div.a-enter-vr > button {
	display: none;
}

/* hide initial ar */
#video {
	visibility: hidden;
}

/* my buttons */
#gyroButton {
	height: 50px;
	/* width: 50%; for two buttons use this */
	width: 100%;
	outline: 0;
	border: 0;
	text-align: center;
	vertical-align: middle;
	color: black;
	font-size: 14px;
	font-family: inherit;
	z-index: 100;
	display: inline-block;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
}

/* for two buttons */

/* body > button:first-of-type {
	left: 0;
	right: unset;
}

body > button:last-of-type {
	left: unset;
	right: 0;
} */
